.aboutContent h2 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.71429px;
  color: #1b1d23;
}

.aboutContent p {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #60636d;
}

.aboutContent {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 145px;
}

.aboutContent h3 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.71429px;
  color: #1b1d23;
  margin-top: 112px;
}

@media screen and (min-width: 568px) {
  .aboutContent {
    padding-left: 97px;
    padding-right: 97px;
  }
}

@media screen and (min-width: 1150px) {
  .aboutContent {
    max-width: 1305px;
    margin-left: auto;
    margin-right: auto;
  }

  .textLeft {
    /* outline: 1px solid red; */
    width: 446px;
    height: 558px;
  }

  .imageRight {
    background-image: url("../../../public/images/about/desktop/image-heritage.jpg");
    width: 540px;
    height: 568px;
  }

  .middleContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  .aboutContent h2 {
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 83px;
    margin-bottom: 51px;
  }

  .aboutContent h3 {
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 0;
  }

  .leaderWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    justify-content: space-between;
    gap: 50px;
  }
}
