.heroWrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 1;
}

.heroContainer {
  position: relative;
  max-width: 1305px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 32px;
  padding-right: 32px; */
}

.background {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(70%);
  z-index: -1;
}

.slideBtns {
  display: none;
}

.heroWrapper h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.2px;
  color: #ffffff;
  margin-top: 116px;
}

.heroWrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 11px;
  margin-bottom: 83px;
}

.line {
  width: 65px;
  height: 1px;
  background: transparent;
}

.textWrapper {
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 81px;
}

.textWrapper h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -1.71429px;
  color: #1b1d23;
  margin-top: 69px;
  margin-bottom: 22px;
}

.textWrapper p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #60636d;
  margin-bottom: 2rem;
}

.aboutWrapper h1 {
  margin-bottom: 23px;
  max-width: 445px;
}

.aboutWrapper {
  position: relative;
  height: 500px;
  overflow: hidden;
  /* padding-left: 32px;
  padding-right: 32px; */
}

.aboutWrapper::before {
  background-image: url("/images/home/mobile/image-small-team.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.featuredContainer {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 176px;
}

.featuredContainer h1 {
  margin-top: 73px;
  margin-bottom: 43px;
}

.imageCard {
  position: relative;
  height: 240px;
  overflow: hidden;
  padding-left: 1.5rem;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.imageCard h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.imageCard a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.card1::before {
  background-image: url("/images/portfolio/mobile/image-del-sol.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%) saturate(150%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}

.card2::before {
  background-image: url("/images/portfolio/tablet/image-228b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background-position: -120px;
}

.card3::before {
  background-image: url("/images/portfolio/tablet/image-prototype.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background-position: -120px;
}

br {
  display: none;
}

.imageCard strong {
  display: none;
}

.bgText {
  display: none;
}

.featureBtn {
  display: none !important;
}


.imageRight {
  display: none;
}

.current {
  display: none;
}

@media screen and (min-width: 518px) {
  .card2::before,
  .card3::before {
    background-position: unset;
  }
}

@media screen and (min-width: 668px) {
  .textWrapper {
    padding-left: 98px;
    padding-right: 98px;
    margin-bottom: 233px;
    position: relative;
  }

  .heroContainer {
    padding-left: 97px;
    padding-right: 98px;
  }

  .background {
    left: 97px;
    right: 98px;
  }

  
  .aboutWrapper::before {
    background-image: url("/images/home/tablet/image-small-team.jpg");
  }

  .heroContainer,
  .featuredContainer {
    padding-left: 97px;
    padding-right: 98px;
  }

  .heroWrapper {
    height: 720px;
    padding-left: 58px;
    padding-right: 58px;
  }

  .heroWrapper h1 {
    font-size: 96px;
    line-height: 80px;
    letter-spacing: -2px;
    margin-top: 186px;
  }

  .aboutWrapper h1 {
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -2px;
  }

  .aboutWrapper {
    height: 560px;
  }

  .textWrapper h2 {
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 248px;
    margin-bottom: 43px;
  }

  br {
    display: unset;
  }

  .featuredContainer h1 {
    font-size: 72px;
    line-height: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: -2px;
  }

  .card1::before {
    background-image: url("/images/portfolio/tablet/image-del-sol.jpg");
  }

  .imageCard strong {
    display: unset;
    position: absolute;
    right: 16px;
    top: 29px;
    font-weight: 700;
    font-size: 250px;
    line-height: 200px;
    text-align: right;
    letter-spacing: -5px;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .bgText {
    display: unset;
    position: absolute;
    font-weight: 700;
    font-size: 120px;
    line-height: 200px;
    letter-spacing: 3px;
    color: #eeeff4;
    top: 89px;
    /* outline: 1px solid red; */
  }

  .featureBtn {
    display: flex !important;
  }

  .featureBtnWrapper {
    display: flex;
    margin-top: 207px;
    margin-bottom: 86px;
    justify-content: space-between;
    align-items: center;
  }

  .mobileBtn {
    display: none !important;
  }

  

  
}

@media screen and (min-width: 1150px) {
  

 
  .aboutWrapper::before {
    background-image: url("/images/home/desktop/image-small-team.jpg");
  }

  .textWrapper,
  .heroContainer,
  .featuredContainer {
    /* padding-left: 0px; */
    /* padding-right: 0px; */
    max-width: 1305px;
    margin-left: auto;
    margin-right: auto;
  }

  

  .heroWrapper h1 {
    width: 80%;
    margin-top: 186px;
  }

  .heroWrapper p {
    /* width: 445px; */
    width: 50%;
    margin-bottom: 41px;
  }

  .heroWrapper {
    padding-left: 190px;
  }

  .imageRight {
    display: block;
    background-image: url("/images/home/desktop/image-welcome.jpg");
    height: 568px;
    background-repeat: no-repeat;
    width: 350px;
  }

  .textWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 195px;
    margin-bottom: 200px;
  }

  .leftText {
    width: 446px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 125px;
    margin-bottom: 11px;
  }

  .textWrapper h2 {
    margin-top: 0;
    margin-bottom: 43px;
  }

  .textWrapper p {
    margin-bottom: 0;
    margin-top: 24px;
  }

  .bgText {
    top: -87px;
    font-weight: 700;
    font-size: 250px;
    line-height: 200px;
    letter-spacing: -5px;
    left: 98px;
  }

  .aboutWrapper h1 {
    margin-top: 167px;
    margin-bottom: 27px;
  }

  .featureBtnWrapper {
    margin-top: 200px;
    margin-bottom: 64px;
  }

  .cardContainer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .imageCard {
    width: 350px;
    height: 560px;
    padding-left: 40px;
    padding-bottom: 39px;
    transition: transform 0.3s ease;
  }

  .imageCard:hover {
    transform: translateY(-10px);
    cursor: pointer;
  }

  .imageCard strong {
    right: -11px;
    top: 45px;
  }

  .card1::before {
    background-image: url("/images/portfolio/desktop/image-del-sol.jpg");
    filter: brightness(80%) saturate(150%);
  }

  .card2::before {
    background-image: url("/images/portfolio/desktop/image-228b.jpg");
    filter: brightness(100%);
  }

  .card3::before {
    background-image: url("/images/portfolio/desktop/image-prototype.jpg");
    filter: brightness(90%) saturate(120%);
  }

  .slideBtns {
    bottom: 0;
    left: 17px;
    display: unset;
    position: absolute;
    z-index: 9999999999;
  }

  .slideBtn {
    width: 80px;
    height: 80px;
    border: none;
    background: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #7d828f;
    cursor: pointer;
  }

  .slideBtn:Hover {
    background: rgb(235, 235, 235);
  }

  .active {
    background: #1B1D23;
    color: white;
  }

  .active:hover {
    background: #1B1D23;

  }

  .current {
    display: unset;
    position: absolute;
    left: 63px;
    top: 0;
  }
}
