.leadersContainer h4 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #1b1d23;
  margin-top: 15px;
}

.leadersChild {
  margin-bottom: 79px;
}

.leadersImgWrapper {
  /* max-width: 350px; */
}

.leadersImgWrapper .pfp {
  object-fit: cover;
  width: 100%;
}

.leadersContainer {
  margin-bottom: 171px;
  margin-top: 55px;
}

.socialContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .leadersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* adjust to your liking */
  }
}

@media screen and (min-width: 1150px) {
  .leadersContainer {
    grid-gap: 30px;
    width: 730px;
    margin-top: 0;
    margin-bottom: 80px;
  }

  .leadersImgWrapper {
    position: relative;
  }

  .leadersImgWrapper:hover .pfp{
    filter: brightness(70%);
  }

  .pfp {
    filter: brightness(100%);
    transition: filter .3s ease;
    
  }

  .leadersImgWrapper:hover .twitter,
  .leadersImgWrapper:hover .linkedin {
    opacity: 1;
    transition: opacity .3s ease;
  }

  .twitter,
  .linkedin {
    /* position: absolute; */
    width: 40px;
    /* top: 0; */
    /* display: unset; */
    opacity: 0;
    filter: brightness(0) invert(1);
    z-index: 500;
  }

  .twitter:hover,
  .linkedin:hover {

    opacity: .7 !important;
    cursor: pointer;
  }

  .socialContainer {
    position: absolute;
    width: 100%;
    display: unset;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 32px;
  }

  
}
